<div class="container dashboard">
	<div class="text-center">
		<h1>Dashboard</h1>
	</div>


		<div class="row">
			
	

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header text-center">
						<h2 class="card-title">Projects</h2>
					</div>
					<div class="card-body">
						<% @projects.each do |project| %>
							<div class="card text-center mb-3">
								<h3 class="card-title"><%= truncate(project.title, :length => 24) %></h3>
							<% project.project_members.each do |pm| %>
								<p>for: <b><%= pm.client.first_name %> <%=pm.client.last_name %> (<%=pm.client.company_name %>)</b></p>
							<% end %>
							<%= link_to 'Show Project', project %>
							
							</div>
						<% end %>
					</div>
					<div class="card-footer bg-transparent text-center">
						<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newProjectModal">
						Create New Project
						</button>
					</div>
				</div>
			</div>

			

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header text-center">
						<h2 class="card-title">Clients</h2>
					</div>
					<div class="card-body">

						<% @project_members.map(&:client).uniq.each do |pm| %>
							<% if pm != nil %>
								<div class="card mb-3">
									<div class="row">
										<div class="col-4">
											<% if pm.profile_photo.url == nil %>
									          <img class="img-fluid" alt="50x50" src="https://wedevelop.s3-us-west-2.amazonaws.com/computer-1331579_640.png" data-holder-rendered="true">
									        <% else %>
									          <%= image_tag(pm.profile_photo.small.url, class: 'img-fluid') %>
									        <% end %>
										</div>
										<div class="col-8 text-left">
											<h3 class="card-title"><%= pm.first_name %></h3>
											<p>email: <%= pm.email %></p>
											<h5><b><%= pm.company_name %></b></h5>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="card-footer bg-transparent text-center">
						<%= link_to "View Client Directory", developers_client_details_path, class: 'btn btn-primary btn-sm' %>
					</div>
				</div>
			</div>



			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header text-center">
						<h2 class="card-title">Client Requests</h2>
					</div>
					<div class="card-body">
						<h3>Coming Soon!</h3>
					</div>
				</div>
			</div>

		</div>

		<div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content" style="width:50vw;">
		      <div class="modal-header">
		        <h5 class="modal-title" id="newProjectModalLabel">New Project</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
			      <div class="modal-body justify-content-center text-center">

			      	<%= form_for [@project] do |form| %>
						<% if @project.errors.any? %>
							<div id="error_explanation">
						      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

						      <ul>
						        <% @project.errors.each do |error| %>
						          <li><%= error.full_message %></li>
						        <% end %>
						      </ul>
						    </div>
						<% end %>

					<div class="col-md-12">

						<div class="field">
							<h3><%= form.label :title, "Come up with a great title!" %></h3><br>
							<p><%= form.text_field :title, size: "50", required: true %></p>
						</div>

					</div>

					<div class="col-md-12">
						<div class="field">
							<h3><%= form.label :description, "Tell us a bit about the project (purpose, functionality, etc)" %></h3><br>
							<p><%= form.text_area :description, cols: "50", rows: "5", required: true %></p>
						</div>
					</div>

						<div class="field">
							<h3><%= form.label :projected_completion, "When do you expect to have this project completed by?" %></h3><br>
							<p><%= form.date_select :projected_completion %></p>
						</div>

						<div class="field">
							<h3><%= form.label :percent_complete, "How much of the project is already completed? (0-100, a brand new project would be '0')" %></h3><br>
							<p><%= form.number_field :percent_complete, required: true %></p>
						</div>

						<div class="field">
							<h3><%= form.label :balance, "Enter the quote you gave your client for this project:" %></h3><br>
							<p><%= form.number_field :balance %></p>
						</div>

						<div class="actions">
							<p><%= form.submit class: 'btn btn-success' %> or <%= link_to 'Go Back', developer_root_path, class: 'btn btn-danger' %> </p>
						</div>

					<% end %>
			        	
			      </div>
		    
		    </div>
		  </div>
		</div>

</div>