<div class="container dashboard">
	<div class="text-center">
		<h1>Dashboard</h1>
	</div>


		<div class="row text-center">
			
	

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Projects</h2>
					</div>
					<div class="card-body">
						<% @projects.each do |project| %>
							<div class="card text-center mb-3">
								<h3 class="card-title"><%= project.title %></h3>
							<% project.project_members.each do |pm| %>
								<p>for: <b><%= pm.client.first_name %> <%=pm.client.last_name %> (<%=pm.client.company_name %>)</b></p>
							<% end %>
							<%= link_to 'Show Project', project %>
							
							</div>
						<% end %>
					</div>
					<div class="card-footer bg-transparent">
						<%= link_to "Create New Project", new_project_path, class: 'btn btn-success' %>
					</div>
				</div>
			</div>

			

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Clients</h2>
					</div>
					<div class="card-body">

						<% @project_members.map(&:client).uniq.each do |pm| %>
							<% if pm != nil %>
								<div class="card text-center mb-3">
									<h3 class="card-title"><%= pm.first_name %></h3>
									<p>email: <%= pm.email %></p>
									<h5><b><%= pm.company_name %></b></h5>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="card-footer bg-transparent">
						<%= link_to "View Client Directory", developers_client_details_path, class: 'btn btn-success' %>
					</div>
				</div>
			</div>



			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Client Requests</h2>
					</div>
					<div class="card-body">
						<h3>Coming Soon!</h3>
					</div>
				</div>
			</div>

		</div>


</div>