<div class="container-fluid dashboard">
	<div class="text-center">
		<h1>Dashboard</h1>
	</div>


		<div class="row text-center">
			
	

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Projects</h2>
					</div>
					<div class="card-body">
						<% if @projects.blank? %>
							<h2>You don't currently have any open projects!</h2>
						<% else %>
							<% @projects.each do |project| %>
								<div class="card text-center mb-3">
									<h3 class="card-title"><%= project.project.title %></h3>
								
									<p>by: <b><%= project.developer.first_name %> <%=project.developer.last_name %> (<%=project.developer.company_name %>)</b></p>
								
								<%= link_to 'Show Project', project.project %>
								
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="card-footer bg-transparent">
						
					</div>
				</div>
			</div>

			

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Your Developers</h2>
					</div>
					<div class="card-body">
						<h1>You aren't currently connected with any developers</h1>
					</div>
					<div class="card-footer bg-transparent">
						
					</div>
				</div>
			</div>



			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Coming Soon</h2>
					</div>
					<div class="card-body">
						
					</div>
				</div>
			</div>

		</div>


</div>