<div class="container dashboard">
	<div class="text-center">
		<h1>Dashboard</h1>
	</div>


		<div class="row text-center">
			
	

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Projects</h2>
					</div>
					<div class="card-body">
						<% if @project_members.blank? %>
							<h2>You don't currently have any open projects!</h2>
						<% else %>
							<% @project_members.each do |pm| %>
								<div class="card text-center mb-3">
									<h3 class="card-title"><%= truncate(pm.project.title, :length => 24) %></h3>
								
									<p>by: <b><%= pm.developer.first_name %> <%=pm.developer.last_name %> (<%=pm.developer.company_name %>)</b></p>
								
								<%= link_to 'Show Project', pm.project %>
								
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="card-footer bg-transparent">
						
					</div>
				</div>
			</div>

			

			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">Your Developers</h2>
					</div>
					<div class="card-body">
						<% if @project_members.blank? %>
							<h1>You aren't currently connected with any developers</h1>
						<% else %>
							<% @project_members.map(&:developer).uniq.each do |pm| %>
								
								<div class="card text-center mb-3">
									<h3 class="card-title"><%= pm.first_name %></h3>
									<p>email: <%= pm.email %></p>
									<h5><b><%= pm.company_name %></b></h5>
								</div>
								
							<% end %>
						<% end %>
					</div>
					<div class="card-footer bg-transparent">
						
					</div>
				</div>
			</div>



			<div class="col-md-4 dashboard-section">
				<div class="card h-100">
					<div class="card-header">
						<h2 class="card-title">New Feature</h2>
					</div>
					<div class="card-body">
						<h3>Coming Soon!</h3>
					</div>
				</div>
			</div>

		</div>


</div>