<div class="show-page-divider"><p></p></div>

<div class="container-fluid h-100" id="dev-show-page">

	<div class="row h-100">

		<div class="offset-md-1 col-md-3 text-center" id="left-show-page-column">
			<h2 class="text-center"><%=@project.title %><hr></h2>

			<h5>Client(s):</h5>
			<% @project_members.each do |pm| %>
			<p>- <%= pm.client.first_name %> at <%= pm.client.company_name %><br>
				Contact: <%= pm.client.email %></p>

			<% end %>
			<h5>Projected Completion Date:</h5>
			<p><%= @project.projected_completion.strftime("%m/%d/%Y") %></p>
			<br>
			<h5>Purpose/Goal:</h5>
			<p><%= @project.description %></p>
			<h5>Remaining Balance:</h5>
			<h3 style="color:orange;"><b>$<%= @project.balance %></b></h3>
		</div>

		<div class="offset-md-1 col-md-6 h-100">
			<div class="row" id="show-page-right-half">
				<div class="col-md-12 show-page-right-box-small">
					<div class="row h-100">
						<div class="col-md-4 h-100 d-flex justify-content-center" style="border-right:1px solid orange;">
							<h4 style="padding-top:3rem;"><%= @project.percent_complete %>% finished</h4>
						</div>					
						<div class="col-md-8 text-center">
							<h5>Add a Client to your project!</h5>
		
							<%= form_for [@project, ProjectMember.new] do |new_member| %>
								
								<%= new_member.text_field :email, placeholder: "Email", required: true %>
								<%= new_member.text_field :first_name, placeholder: "First Name", required: true %>
								<%= new_member.text_field :phone, placeholder: "Phone Number", required: true %>
								<%= new_member.text_field :company_name, placeholder: "Company Name", required: true %>
								<%= new_member.number_field :rate, placeholder: "Client's Rate", required: true %>
								<%= hidden_field_tag 'developer_id', current_developer.id %>
								<%= new_member.submit "Invite Client!", class: 'btn btn-primary' %>
								
							<% end %>

						</div>

						<div class="col-md-12 justify-content-center" id="updates-section">

							<div class="row text-center">
								<div class="col-md-6">
									<h3>Updates</h3>
								</div>

								<div class="col-md-4">

							<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
									  Add a New Update
									</button>
								</div>

								
							</div>
							<hr style="width:75%;margin-left:10%;">

						</div> <!-- end of updates section -->

					</div>
					
				</div>				
					

			</div>
		</div>



	</div> <!-- end of row -->

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <%= form_for [@project, ProjectMember.new] do |new_member| %>
								
								<%= new_member.text_field :email, placeholder: "Email", required: true %>
								<%= new_member.text_field :first_name, placeholder: "First Name", required: true %>
								<%= new_member.text_field :phone, placeholder: "Phone Number", required: true %>
								<%= new_member.text_field :company_name, placeholder: "Company Name", required: true %>
								<%= new_member.number_field :rate, placeholder: "Client's Rate", required: true %>
								<%= hidden_field_tag 'developer_id', current_developer.id %>
								

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <%= new_member.submit "Invite Client!", class: 'btn btn-primary' %>
								
							<% end %>
	      </div>
	    </div>
	  </div>
	</div>

</div>


