<!DOCTYPE html>
<html>
  <head>
    <title>WeDevelop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-mutate-approach="sync"></script>
    <script src="https://kit.fontawesome.com/75b0b3b76e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar">
      <div class='left'><a class="active" href=""></i>WeDEVELOP</a> 
      </div>
      <div class="right">
          <a href="">SIGN UP</a>
          <div class="divider"></div>
          <a href="">LOGIN</a>
          <a href=""><i class="fa fa-lg fa-suitcase icon"></i>POST A JOB</a>
      </div>
    </div>
    <div class="container">
      <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>

      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
      <% end %>


      <%= yield %>

    </div>
 
  </body>
  <footer class="footer">
    <div class="inner-footer">
    </div>
   </footer>
</html>
